@import './vars';

@font-face {
  font-family: $font-family;
  font-weight: $fw-regular;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: $font-family;
  font-weight: $fw-demi;
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
}
@font-face {
  font-family: $font-family;
  font-weight: $fw-bold;
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
}
