@import './mixins';
@import './vars';

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__field {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: $gutter-xs;

    min-height: $gutter-md;
    @include tablet {
      min-height: $gutter-lg;
    }

    &-label {
      color: $color-silver;
      font-size: calc($fs-xs * 0.75);
      font-weight: $fw-demi;
      margin-bottom: calc($gutter-xs / 4);
    }

    &-input {
      font-family: $font-family;
      background-color: $color-alabaster;
      border: 1px solid $color-mercury;
      border-radius: calc($gutter-xs / 4);
      padding: calc($gutter-xs * 0.75);
      resize: none;

      @include tablet {
        padding: $gutter-xs;
      }

      &:invalid,
      &.error {
        border-color: $color-error;
      }

      &::placeholder {
        color: black;
      }
    }
  }

  &__button {
    color: $color-white;
    background-color: $color-black;
    text-transform: uppercase;
    text-align: center;
    border: 0px;
    font-weight: $fw-bold;
    font-size: calc($fs-xs * 0.75);
    cursor: pointer;

    height: 40px;
    padding: 0px $gutter-xs;
    border-radius: calc($gutter-xs / 2);

    &:hover {
      background-color: $color-dark-black;
    }

    @include tablet {
      align-self: end;
      min-width: 150px;
      padding: 0px calc($gutter-xs * 2);
    }
  }
}
