@import "./vars";

body {
  margin: 0px;
  font-family: "Avenir Next";

  h1 {
    margin-top: 0px;
    font-weight: $fw-bold;

    @include tablet {
      font-size: $fs-sm;
      line-height: calc($fs-sm + 0.5rem);
    }
    @include desktop {
      font-size: $fs-lg;
      line-height: calc($fs-lg + 0.5rem);
    }
  }

  h2 {
    margin-top: 0px;
    font-weight: $fw-bold;

    @include tablet {
      font-size: $fs-sm;
      line-height: calc($fs-sm + 0.5rem);
    }
    @include desktop {
      font-size: $fs-md;
      line-height: calc($fs-md + 0.5rem);
    }
  }

  h3 {
    margin-top: 0px;
    font-weight: $fw-demi;

    @include tablet {
      font-size: $fs-xs;
      line-height: calc($fs-xs + 0.5rem);
    }
    @include desktop {
      font-size: $fs-sm;
      line-height: calc($fs-sm + 0.5rem);
    }
  }

  .page__section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px $gutter-xs;

    @include tablet {
      flex-direction: row !important;
      margin: 0px $gutter-sm !important;
    }

    @include desktop {
      width: 1020px !important;
      margin: auto !important;
    }
  }
}
