@import "./mixins";
@import "./fonts";
@import "./vars";

body {
  margin: 0px;
  font-family: $font-family;
  font-size: calc($fs-xs * 0.875);
  line-height: calc(($fs-xs * 0.875) + 0.5rem);

  h1 {
    margin-top: 0px;
    font-weight: $fw-bold;

    font-size: $fs-sm;
    line-height: calc($fs-sm + 0.5rem);

    @include tablet {
      font-size: $fs-lg;
      line-height: calc($fs-lg + 0.5rem);
    }
  }

  h2 {
    margin-top: 0px;
    font-weight: $fw-bold;

    font-size: $fs-sm;
    line-height: calc($fs-sm + 0.5rem);

    @include desktop {
      font-size: $fs-md;
      line-height: calc($fs-md + 0.5rem);
    }
  }

  h3 {
    margin-top: 0px;
    font-weight: $fw-demi;

    font-size: calc($fs-xs * 0.875);
    line-height: calc(($fs-xs * 0.875) + 0.5rem);

    @include desktop {
      font-size: $fs-sm;
      line-height: calc($fs-sm + 0.5rem);
    }
  }

  .divider {
    height: 1px;
    width: 100%;
    background: $color-mercury;
  }

  .page__section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px $gutter-xs;

    @include tablet {
      flex-direction: row;
      margin: 0px $gutter-sm;
    }

    @include desktop {
      width: 1020px;
      margin: auto !important;
    }
  }
}
