@import "./vars";

@mixin mobile() {
  @media screen and (max-width: $mobileMaxWidth) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (min-width: $tabletMinWidth) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: $desktopMinWidth) {
    @content;
  }
}

@mixin pageSection() {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px $gutter-xs;

  @include tablet {
    flex-direction: row;
    margin: 0px $gutter-sm;
  }

  @include desktop {
    width: 1020px;
    margin: auto !important;
  }
}
