@import './mixins';
@import './vars';

.table {
  flex: 1;

  &__header {
    display: none;
    padding: $gutter-sm calc($gutter-sm * 0.75);

    @include tablet {
      display: flex;
      justify-content: space-between;
    }

    &-cell {
      color: $color-silver;
      font-weight: $fw-demi;
      flex: 1;

      &--mobile {
        font-size: calc($fs-xs * 0.75);
        margin-bottom: calc($gutter-xs / 2);
        @include tablet {
          display: none;
        }
      }
    }
  }
  &__row {
    padding: $gutter-xs;
    cursor: pointer;

    @include tablet {
      padding: $gutter-sm calc($gutter-sm * 0.75);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &:hover:not(&--selected) {
      background-color: $color-alabaster;
    }

    &--selected {
      background-color: $color-mercury;
    }
  }

  &__cell {
    flex: 1;
    margin-bottom: $gutter-xs;

    @include tablet {
      margin-bottom: 0px;
    }

    &-button {
      width: 100%;
    }

    &--bold {
      font-weight: $fw-demi;
    }
  }
}
