@import './mixins';
@import './vars';

.topnav {
  background-color: $color-black;
  color: $color-mercury;

  &__logo {
    margin: $gutter-sm $gutter-sm $gutter-sm 0px;

    @include tablet {
      margin: $gutter-md $gutter-md $gutter-md 0px !important;
    }
  }

  &__list {
    align-self: stretch;
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 5px solid $color-black;
      width: 50%;

      &--active,
      &:hover {
        color: $color-white;
        border-bottom: 5px solid $color-white;
        cursor: pointer;
        font-weight: $fw-bold;
      }

      &-anchor {
        color: currentColor;
        text-decoration: none;
        display: flex;
        align-items: center;
        height: 100%;
        padding: $gutter-xs;

        @include tablet {
          padding: $gutter-sm;
        }
      }
    }
  }
}
