$color-black: #323232;
$color-silver: #afafaf;
$color-white: #ffffff;
$color-dark-black: #000000;
$color-mercury: #e1e1e1;
$color-alabaster: #fafafa;
$color-error: #D22D2D;

$desktopMinWidth: 1280px;
$tabletMaxWidth: 1279px;
$tabletMinWidth: 768px;
$mobileMaxWidth: 767px;

$gutter-lg: 3rem;
$gutter-md: 2.25rem;
$gutter-sm: 1.5rem;
$gutter-xs: 1rem;

$fs-lg: 3.75rem;
$fs-md: 2.25rem;
$fs-sm: 1.5rem;
$fs-xs: 1rem;

$fw-regular: 400;
$fw-demi: 600;
$fw-bold: 700;
