@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 600;
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 700;
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
}
.footer__wrapper {
  color: #ffffff;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .footer__wrapper .footer .footer__social-wrapper {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding-top: 1.5rem !important;
  }
}
@media screen and (min-width: 1280px) {
  .footer__wrapper .footer .footer__social-wrapper {
    padding-top: 2.25rem !important;
  }
}
.footer__wrapper .footer .footer__social-wrapper .footer__social {
  padding: 1.5rem 0px;
}
@media screen and (min-width: 768px) {
  .footer__wrapper .footer .footer__social-wrapper .footer__social {
    display: flex !important;
  }
}
.footer__wrapper .footer .footer__social-wrapper .footer__social .footer__social-title {
  margin: 0px;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__wrapper .footer .footer__social-wrapper .footer__social .footer__social-title {
    padding: 0px !important;
  }
}
.footer__wrapper .footer .footer__social-wrapper .footer__social .footer__social-icon-wrapper {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
@media screen and (min-width: 768px) {
  .footer__wrapper .footer .footer__social-wrapper .footer__social .footer__social-icon-wrapper {
    margin-left: 1.5rem !important;
  }
}
@media screen and (min-width: 1280px) {
  .footer__wrapper .footer .footer__social-wrapper .footer__social .footer__social-icon-wrapper {
    margin-left: 2.25rem !important;
  }
}
.footer__wrapper .footer .footer__social-wrapper .footer__social .footer__social-icon-wrapper .footer__social-icon {
  height: 30px;
}
.footer__wrapper .footer .footer__social-wrapper > .footer__logo {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__wrapper .footer .footer__social-wrapper > .footer__logo {
    display: block !important;
  }
}
.footer__wrapper .footer > .footer__logo {
  margin: 1rem 0px;
  display: block;
  align-self: start;
}
@media screen and (min-width: 768px) {
  .footer__wrapper .footer > .footer__logo {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .footer__wrapper .footer .footer__contact-wrapper {
    display: flex !important;
  }
}
.footer__wrapper .footer .footer__contact-wrapper .footer__contact {
  margin-bottom: 2.25rem;
}
@media screen and (min-width: 768px) {
  .footer__wrapper .footer .footer__contact-wrapper .footer__contact {
    margin-right: 1.5rem !important;
  }
}
@media screen and (min-width: 1280px) {
  .footer__wrapper .footer .footer__contact-wrapper .footer__contact {
    margin-right: 3rem !important;
  }
}
.footer__wrapper .footer .footer__contact-wrapper .footer__contact .footer__contact-name,
.footer__wrapper .footer .footer__contact-wrapper .footer__contact .footer__contact-company {
  font-size: 1rem;
  margin: 0.5rem 0px;
}
.footer__wrapper .footer .footer__contact-wrapper .footer__contact .footer__contact-info {
  margin: 1rem 0px;
}
.footer__wrapper .footer .footer__contact-wrapper .footer__contact .footer__contact-info p {
  margin: 0px;
}
.footer__wrapper .footer .footer__contact-wrapper .footer__contact .footer__contact-email {
  margin: 0.5rem 0px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.footer__wrapper .footer .footer__copyright {
  font-size: 0.8rem;
  width: 100%;
}

body {
  margin: 0px;
  font-family: "Avenir Next";
}
body h1 {
  margin-top: 0px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  body h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  body h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
body h2 {
  margin-top: 0px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  body h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  body h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
body h3 {
  margin-top: 0px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  body h3 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  body h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
body .page__section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px 1rem;
}
@media screen and (min-width: 768px) {
  body .page__section {
    flex-direction: row !important;
    margin: 0px 1.5rem !important;
  }
}
@media screen and (min-width: 1280px) {
  body .page__section {
    width: 1020px !important;
    margin: auto !important;
  }
}

.hero__wrapper {
  height: 300px;
  color: #ffffff;
  position: relative;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .hero__wrapper {
    height: 500px !important;
  }
}
.hero__wrapper .hero__backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
}
.hero__wrapper .hero {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column !important;
  height: 100%;
  margin: 0px 1rem;
}
.hero__wrapper .hero .hero__title {
  max-width: 60%;
}

.topnav__wrapper {
  background-color: #323232;
  color: #e1e1e1;
}
.topnav__wrapper .topnav {
  display: flex;
  align-items: center;
  margin: 0px;
}
.topnav__wrapper .topnav .topnav__logo {
  margin: 1.5rem 1.5rem 1.5rem 0px;
}
@media screen and (min-width: 768px) {
  .topnav__wrapper .topnav .topnav__logo {
    margin: 2.25rem 2.25rem 2.25rem 0px !important;
  }
}
.topnav__wrapper .topnav .topnav__list {
  align-self: stretch;
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
}
.topnav__wrapper .topnav .topnav__list .topnav__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #323232;
  width: 50%;
}
.topnav__wrapper .topnav .topnav__list .topnav__list-item--active, .topnav__wrapper .topnav .topnav__list .topnav__list-item:hover {
  color: #ffffff;
  border-bottom: 5px solid #ffffff;
  cursor: pointer;
  font-weight: 700;
}
.topnav__wrapper .topnav .topnav__list .topnav__list-item .topnav__list-item-anchor {
  color: currentColor;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .topnav__wrapper .topnav .topnav__list .topnav__list-item .topnav__list-item-anchor {
    padding: 1.5rem;
  }
}

.hero__wrapper {
  background-image: url("../assets/images/hero-bio.jpg");
}

.about__wrapper .about {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .about__wrapper .about {
    padding-top: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .about__wrapper .about .about__inner {
    margin: 0px 3rem;
  }
}
.about__wrapper .about .about__inner .about__img {
  width: 100%;
}
.about__wrapper .about .about__inner .about__quote-wrapper {
  margin-left: 0px;
  margin-right: 0px;
}
.about__wrapper .about .about__inner .about__quote-wrapper .about__quote,
.about__wrapper .about .about__inner .about__quote-wrapper .about__quote-caption {
  font-weight: 600;
  font-size: 1rem;
  margin: 1rem 0px;
}
@media screen and (min-width: 768px) {
  .about__wrapper .about .about__inner .about__quote-wrapper .about__quote,
  .about__wrapper .about .about__inner .about__quote-wrapper .about__quote-caption {
    font-size: 1.5rem;
    margin: 1.5rem 0px;
  }
}
.about__wrapper .about .about__inner .about__quote-wrapper .about__quote:before {
  content: open-quote;
}
.about__wrapper .about .about__inner .about__quote-wrapper .about__quote:after {
  content: close-quote;
}
.about__wrapper .about .about__inner .about__subtitle {
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  .about__wrapper .about .about__inner .about__content-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.about__wrapper .about .about__inner .about__content-wrapper .about__content {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .about__wrapper .about .about__inner .about__content-wrapper .about__content {
    width: 49%;
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__wrapper .about .about__inner .about__content-wrapper .about__content {
    padding-bottom: 2.25rem;
  }
}

.gallery__wrapper {
  background-color: #fafafa;
}
.gallery__wrapper .gallery {
  padding-top: 2.25rem;
}
.gallery__wrapper .gallery .gallery__img-wrapper {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__wrapper .gallery .gallery__img-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.gallery__wrapper .gallery .gallery__img-wrapper .gallery__img {
  width: 100%;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__wrapper .gallery .gallery__img-wrapper .gallery__img {
    width: 30%;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__wrapper .gallery .gallery__img-wrapper .gallery__img {
    margin-bottom: 2.25rem;
  }
}
.gallery__wrapper .gallery .gallery__img-wrapper .gallery__opacity {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
}