@import "./partials/fonts";
@import "./partials/footer";
@import "./partials/global";
@import "./partials/hero";
@import "./partials/topnav";
@import "./partials/vars";

.hero__wrapper {
  background-image: url("../assets/images/hero-bio.jpg");
}

.about__wrapper {
  .about {
    .about__img {
      width: 100%;
    }

    .about__quote-wrapper {
      margin-left: 0px;
      margin-right: 0px;

      .about__quote,
      .about__quote-caption {
        font-weight: $fw-demi;
      }

      .about__quote {
        &:before {
          content: open-quote;
        }
        &:after {
          content: close-quote;
        }
      }
    }

    .about__subtitle {
      margin-top: $gutter-lg;
    }
  }
}

.gallery__wrapper {
  background-color: $color-alabaster;
  .gallery {
    padding-top: $gutter-md;
    .gallery__img-wrapper {
      width: 100%;
    }
  }
}

.comments__wrapper {
  .comments {
    .comment__avatar {
      padding: 15px;
      height: 0px;
      border-radius: 100%;
      background-color: $color-silver;
      margin-right: 16px;
    }

    .comments__form-wrapper {
      display: flex;
      width: 60%;

      .comments__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid $color-silver;
        margin-bottom: 15px;
        .comments__textboxButton {
          border-radius: 4px;
          padding: 12px;
          margin-bottom: 16px;
          border: 1px solid $color-mercury;

          &:focus {
            border-color: gold;
          }
        }
      }
      button {
        background-color: $color-black;
        color: $color-white;
        font-weight: $fw-bold;
      }
    }
  }
  .comments__inner {
    .comment__card {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      margin-bottom: 16px;
      border-bottom: 1px solid $color-silver;
      padding-bottom: 16px;

      .comment__name {
        font-weight: $fw-bold;
      }
      .comment__timestamp {
        margin-left: auto;
        color: $color-silver;
      }
      .comment__text {
        margin-top: 16px;
        margin-left: 46px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: $mobileMaxWidth) {
  .about {
    padding-top: $gutter-xs;
    .about__inner {
      .about__quote,
      .about__quote-caption {
        font-size: $fs-xs;
        margin: $gutter-xs 0px;
      }
      .about__content-wrapper {
        .about__content {
          padding-bottom: $gutter-xs;
        }
      }
    }
  }

  .gallery {
    .gallery__img {
      width: 100%;
      margin-bottom: $gutter-xs;
    }
    .gallery__opacity {
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0.5;
    }
  }
}

@media screen and (min-width: $tabletMinWidth) {
  .about {
    padding-top: $gutter-sm;
    .about__inner {
      margin: 0px $gutter-lg;

      .about__quote,
      .about__quote-caption {
        font-size: $fs-sm;
        margin: $gutter-sm 0px;
      }

      .about__content-wrapper {
        display: flex;
        justify-content: space-between;

        .about__content {
          width: 49%;
          padding-bottom: $gutter-sm;
        }
      }
    }
  }

  .comments__form-wrapper {
    padding-left: 50px;
    width: 80%;
  }
  .comments__inner {
    padding-left: 50px;
    width: 80%;
  }
  .comments__form-wrapper {
    .comments__form {
      .comments__textboxButton {
        border-radius: 4px;
        padding: 12px;
        margin-bottom: 16px;
        border: 1px solid #e1e1e1;
        width: 80%;
        flex-direction: column;
        padding-right: 421px;
      }
    }
  }

  .gallery {
    .gallery__img-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .gallery__img {
        width: 30%;
        margin-bottom: $gutter-sm;
      }
    }
  }

  @media screen and (min-width: $desktopMinWidth) {
    .about {
      .about__inner {
        .about__content-wrapper {
          .about__content {
            padding-bottom: $gutter-md;
          }
        }
      }
    }

    .gallery {
      .gallery__img-wrapper {
        .gallery__img {
          margin-bottom: $gutter-md;
        }
      }
    }
    .comments__form-wrapper {
      display: flex;
      width: auto;
      justify-content: center;
      padding-left: 250px;
    }
    .comments__textboxButton {
      display: flex;
      width: 50%;
      justify-content: center;
      padding-left: 250px;
    }
    .comments__inner {
      display: flex;
      width: 50%;
      justify-content: center;
      padding-left: 250px;
      flex-direction: column;
    }
  }
  .gallery__img {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
  }
  .gallery__img:hover {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 1;
  }
}
input[type="text"]:focus {
  border: 3px solid #555;
}
.selected {
  border-color: $color-mercury !important;
}
.error {
  border-color: #d22d2d !important;
}
input[type="text"]:checked {
  border: 3px solid #555;
}
