@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 600;
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 700;
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
}
.footer__wrapper {
  color: #ffffff;
  background-color: #323232;
}
.footer__wrapper .footer .footer__social-wrapper .footer__social {
  padding: 1.5rem 0px;
}
.footer__wrapper .footer .footer__social-wrapper .footer__social .footer__social-title {
  margin: 0px;
  padding-bottom: 1.5rem;
}
.footer__wrapper .footer .footer__social-wrapper .footer__social .footer__social-icon-wrapper {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.footer__wrapper .footer .footer__social-wrapper .footer__social .footer__social-icon-wrapper .footer__social-icon {
  height: 30px;
}
.footer__wrapper .footer .footer__contact-wrapper .footer__contact {
  margin-bottom: 2.25rem;
}
.footer__wrapper .footer .footer__contact-wrapper .footer__contact .footer__contact-name,
.footer__wrapper .footer .footer__contact-wrapper .footer__contact .footer__contact-company {
  font-size: 1rem;
  margin: 0.5rem 0px;
}
.footer__wrapper .footer .footer__contact-wrapper .footer__contact .footer__contact-info {
  margin: 1rem 0px;
}
.footer__wrapper .footer .footer__contact-wrapper .footer__contact .footer__contact-info p {
  margin: 0px;
}
.footer__wrapper .footer .footer__contact-wrapper .footer__contact .footer__contact-email {
  margin: 0.5rem 0px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.footer__wrapper .footer > .footer__logo {
  margin: 1rem 0px;
}
.footer__wrapper .footer .footer__copyright {
  font-size: 0.8rem;
}

@media screen and (max-width: 767px) {
  .footer .footer__social-wrapper > .footer__logo {
    display: none;
  }
  .footer > .footer__logo {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .footer .footer__social-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
  }
  .footer .footer__social-wrapper > .footer__logo {
    display: block;
  }
  .footer .footer__social-wrapper .footer__social {
    display: flex;
  }
  .footer .footer__social-wrapper .footer__social .footer__social-title {
    padding: 0px;
  }
  .footer .footer__social-wrapper .footer__social .footer__social-icon-wrapper {
    margin-left: 1.5rem;
  }
  .footer .footer__contact-wrapper {
    display: flex;
  }
  .footer .footer__contact-wrapper .footer__contact {
    margin-right: 1.5rem;
  }
  .footer > .footer__logo {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .footer .footer__social-wrapper {
    padding-top: 2.25rem;
  }
  .footer .footer__social-wrapper .footer__social .footer__social-icon-wrapper {
    margin-left: 2.25rem;
  }
  .footer .footer__contact-wrapper .footer__contact {
    margin-right: 3rem;
  }
}
body {
  margin: 0px;
  font-family: "Avenir Next";
}
body h1,
body h2,
body h3 {
  margin-top: 0px;
}
body h1,
body h2 {
  font-weight: 700;
}
body h3 {
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  h3 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .page__section {
    flex-direction: column;
    margin: 0px 1rem;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .page__section {
    flex-direction: row;
    margin: 0px 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .page__section {
    width: 1020px;
    flex-direction: row;
    margin: auto;
  }
}
.hero__wrapper {
  color: #ffffff;
  position: relative;
  background-size: cover;
  background-position: center;
}
.hero__wrapper .hero__backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
}
.hero__wrapper .hero {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .hero__wrapper {
    height: 300px;
  }
  .hero__wrapper .hero {
    margin: 0px 1rem;
  }
  .hero__wrapper .hero .hero__title {
    max-width: 60%;
  }
}
@media screen and (min-width: 768px) {
  .hero__wrapper {
    height: 500px;
  }
}
.topnav__wrapper {
  background-color: #323232;
  color: #e1e1e1;
}
.topnav__wrapper .topnav {
  display: flex;
  align-items: center;
}
.topnav__wrapper .topnav .topnav__list {
  align-self: stretch;
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
}
.topnav__wrapper .topnav .topnav__list .topnav__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #323232;
  width: 50%;
}
.topnav__wrapper .topnav .topnav__list .topnav__list-item--active, .topnav__wrapper .topnav .topnav__list .topnav__list-item:hover {
  color: #ffffff;
  border-bottom: 5px solid #ffffff;
  cursor: pointer;
  font-weight: 700;
}
.topnav__wrapper .topnav .topnav__list .topnav__list-item .topnav__list-item-anchor {
  color: currentColor;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .topnav {
    margin: 0px;
  }
  .topnav .topnav__logo {
    margin: 1.5rem 1.5rem 1.5rem 0px;
  }
  .topnav .topnav__list-item-anchor {
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .topnav .topnav__logo {
    margin: 2.25rem 2.25rem 2.25rem 0px;
  }
  .topnav .topnav__list-item-anchor {
    padding: 1.5rem;
  }
}
.hero__wrapper {
  background-image: url("../assets/images/hero-bio.jpg");
}

.about__wrapper .about .about__img {
  width: 100%;
}
.about__wrapper .about .about__quote-wrapper {
  margin-left: 0px;
  margin-right: 0px;
}
.about__wrapper .about .about__quote-wrapper .about__quote,
.about__wrapper .about .about__quote-wrapper .about__quote-caption {
  font-weight: 600;
}
.about__wrapper .about .about__quote-wrapper .about__quote:before {
  content: open-quote;
}
.about__wrapper .about .about__quote-wrapper .about__quote:after {
  content: close-quote;
}
.about__wrapper .about .about__subtitle {
  margin-top: 3rem;
}

.gallery__wrapper {
  background-color: #fafafa;
}
.gallery__wrapper .gallery {
  padding-top: 2.25rem;
}
.gallery__wrapper .gallery .gallery__img-wrapper {
  width: 100%;
}

.comments__wrapper .comments .comment__avatar {
  padding: 15px;
  height: 0px;
  border-radius: 100%;
  background-color: #afafaf;
  margin-right: 16px;
}
.comments__wrapper .comments .comments__form-wrapper {
  display: flex;
  width: 60%;
}
.comments__wrapper .comments .comments__form-wrapper .comments__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #afafaf;
  margin-bottom: 15px;
}
.comments__wrapper .comments .comments__form-wrapper .comments__form .comments__textboxButton {
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #e1e1e1;
}
.comments__wrapper .comments .comments__form-wrapper .comments__form .comments__textboxButton:focus {
  border-color: gold;
}
.comments__wrapper .comments .comments__form-wrapper button {
  background-color: #323232;
  color: #ffffff;
  font-weight: 700;
}
.comments__wrapper .comments__inner .comment__card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 1px solid #afafaf;
  padding-bottom: 16px;
}
.comments__wrapper .comments__inner .comment__card .comment__name {
  font-weight: 700;
}
.comments__wrapper .comments__inner .comment__card .comment__timestamp {
  margin-left: auto;
  color: #afafaf;
}
.comments__wrapper .comments__inner .comment__card .comment__text {
  margin-top: 16px;
  margin-left: 46px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .about {
    padding-top: 1rem;
  }
  .about .about__inner .about__quote,
  .about .about__inner .about__quote-caption {
    font-size: 1rem;
    margin: 1rem 0px;
  }
  .about .about__inner .about__content-wrapper .about__content {
    padding-bottom: 1rem;
  }
  .gallery .gallery__img {
    width: 100%;
    margin-bottom: 1rem;
  }
  .gallery .gallery__opacity {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 1.5rem;
  }
  .about .about__inner {
    margin: 0px 3rem;
  }
  .about .about__inner .about__quote,
  .about .about__inner .about__quote-caption {
    font-size: 1.5rem;
    margin: 1.5rem 0px;
  }
  .about .about__inner .about__content-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .about .about__inner .about__content-wrapper .about__content {
    width: 49%;
    padding-bottom: 1.5rem;
  }
  .comments__form-wrapper {
    padding-left: 50px;
    width: 80%;
  }
  .comments__inner {
    padding-left: 50px;
    width: 80%;
  }
  .comments__form-wrapper .comments__form .comments__textboxButton {
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #e1e1e1;
    width: 80%;
    flex-direction: column;
    padding-right: 421px;
  }
  .gallery .gallery__img-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gallery .gallery__img-wrapper .gallery__img {
    width: 30%;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .about .about__inner .about__content-wrapper .about__content {
    padding-bottom: 2.25rem;
  }
  .gallery .gallery__img-wrapper .gallery__img {
    margin-bottom: 2.25rem;
  }
  .comments__form-wrapper {
    display: flex;
    width: auto;
    justify-content: center;
    padding-left: 250px;
  }
  .comments__textboxButton {
    display: flex;
    width: 50%;
    justify-content: center;
    padding-left: 250px;
  }
  .comments__inner {
    display: flex;
    width: 50%;
    justify-content: center;
    padding-left: 250px;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .gallery__img {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
  }
}
@media screen and (min-width: 768px) {
  .gallery__img:hover {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 1;
  }
}
input[type=text]:focus {
  border: 3px solid #555;
}

.selected {
  border-color: #e1e1e1 !important;
}

.error {
  border-color: #d22d2d !important;
}

input[type=text]:checked {
  border: 3px solid #555;
}