@import "./partials/global";

@import "./partials/topnav";
@import "./partials/hero";
@import "./partials/footer";

@import "./partials/breakpoints";
@import "./partials/vars";

.hero__wrapper {
  background-image: url("../assets/images/hero-shows.jpg");
  .hero__soundcloud {
    width: 50%;
    border-radius: calc($gutter-xs / 2);
    border: 0px;
    overflow: hidden;
  }
}

.shows_wrapper {
  .shows {
    margin: 0px;
    padding-top: $gutter-xs;

    @include tablet {
      padding-top: $gutter-sm;
    }

    .shows__title {
      margin: 0px $gutter-xs;

      @include tablet {
        width: 100%;
      }

      @include desktop {
        width: 25%;
        margin: 0px;
      }
    }

    .shows__inner {
      margin-bottom: $gutter-xs;
      width: 100%;

      @include tablet {
        margin-bottom: $gutter-lg;
      }

      @include desktop {
        width: 75%;
      }

      .show__wrapper {
        padding: $gutter-xs;
        border-bottom: 2px solid $color-mercury;

        @include tablet {
          width: 100%;
          display: flex;
          align-items: center;
          padding: $gutter-sm 0px;
        }

        &:first-child {
          display: none;

          @include tablet {
            display: flex;
          }
        }

        &:not(:first-child) {
          @include tablet {
            border-bottom: 2px solid $color-mercury;

            .show__header {
              display: none;
            }
          }
        }

        .show__header {
          color: $color-silver;
          margin: 0px;

          @include tablet {
            width: 20%;
            margin: 0px 2.5%;
          }
        }

        .show__value {
          margin-bottom: $gutter-xs;

          &:first-of-type {
            font-weight: $fw-bold;
          }

          @include tablet {
            width: 20%;
            margin: 0px 2.5%;
          }
        }
        .show__button {
          width: 100%;
          @include tablet {
            width: 20%;
          }
        }
      }
    }
  }
}
