@import "./partials/global";
@import "./partials/forms";
@import "./partials/table";

@import "./partials/topnav";
@import "./partials/hero";
@import "./partials/footer";

@import "./partials/mixins";
@import "./partials/vars";

.hero {
  background-image: url("../assets/images/hero-shows.jpg");

  &__soundcloud {
    width: 50%;
    border-radius: calc($gutter-xs / 2);
    border: 0px;
    overflow: hidden;
  }
}

.shows {
  margin: 0px;
  padding-top: $gutter-xs;

  @include tablet {
    padding-top: $gutter-sm;
  }
  
  &__title {
    margin: 0px $gutter-xs;

    @include tablet {
      width: 100%;
    }

    @include desktop {
      width: 25%;
      margin: 0px;
    }
  }
}
